 /* 
#1f4387  azul
#fbfdfe  azul marinho   -
#f84343  vermelho
#6b767b  cinza
paleta de cores 
azul bebe #536d9e ou rgb(93, 148, 206)
amarelado rgb(254, 200, 87)
vermelho rgb(187, 57, 44) #ff1677


-*/



.logo{
   height: 30px;    
}
.navbar-color{
    background-color:rgb(187, 57, 44);
    border-radius: 6px;
    font-weight: bolder;
}

#principal{
    background-image: url(background01.png);
    background-repeat: no-repeat;
    background-position: right ;
    background-size: contain;
    background-color: beige;
}

#principal h1{
    text-align: justify;
    font-weight: bolder;
}

#imagem-principal{
    height: 450px;
    image-orientation: flip;
}

#footer{
    background-color: rgb(187, 57, 44);
    color:rgb(254, 200, 87);
    text-align: center;
    border-radius: 6px;
    padding: 15px;
}
#bem-vindo{
    margin-top: 160px;
    margin-bottom: 160px;
}
#footer h3{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
#footer ul{
    margin-left: 30%;
    margin-right: 35%;
    text-align:justify;
}

.centralizar{
    position:relative;
    left:40%;
    right:40%; 
    text-align: center;
 }


body{
    font-family: 'Classic Blody LinE', sans-serif;
                                                
}
.text-blue{
    color: rgb(93, 148, 206) !important;
}
 .text-yellow{
     color: rgb(254, 200, 87);
 }
 .text-white{
    color: #fff;
 }

 .text-red{
    color: rgb(187, 57, 44);
 }



.formPlaceholder {
    font-weight: bold;
    color: #1f4387;
    background-color: #f2fafe ;
    margin-bottom: 15px;
    margin-top: 15px;
}
